{% extends 'product/../base.html' %}
{% load humanize %}
{% load pagination_tag %}
{% block title %}Q2T Instrument{% endblock %}
{% block content %}
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Product Area -->
        <section class="product-area li-new-feature-product pt-60 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="li-product-tab">
                            <ul class="nav li-product-menu">
                                <li><a class="active" data-toggle="tab" href="#li-new-product"><span>Sản phẩm mới</span></a>
                                </li>
                                <li><a data-toggle="tab" href="#li-featured-product"><span>Sản phẩm đặc trưng</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Begin Li's Tab Menu Content Area -->
                    </div>
                </div>
                <div class="tab-content">
                    <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                        <div class="row">
                            {% if new_products %}
                                <div class="product-active owl-carousel">
                                    {% for product in new_products %}
                                        <div class="single-product col-lg-12">
                                            <!-- single-product-wrap start -->
                                            <div class="single-product-wrap">
                                                <div class="product-image">
                                                    <a href="{% url 'single-product' slug=product.slug %}">
                                                        <img src="{{ product.images.first.imageURL }}"
                                                             alt="New Product">
                                                    </a>
                                                    <span class="sticker">Mới</span>
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h5 class="manufacturer">
                                                                <a href="{% url 'products-by-brand' slug=product.brand.slug %}">{{ product.brand }}</a>
                                                            </h5>
                                                        </div>
                                                        <h4><a class="product_name"
                                                               href="{% url 'single-product' slug=product.slug %}">{{ product.name }}</a>
                                                        </h4>
                                                        <div class="price-box">
                                                            <span class="new-price">{{ product.price|floatformat:2|intcomma }} đ </span>
                                                        </div>
                                                    </div>
                                                    <div class="add-actions">
                                                        <ul class="add-actions-link">
                                                            <li class="add-cart active" onclick="addToCart({{ product.id }})">
                                                                <span>Thêm vào giỏ </span><i
                                                                    class="fa fa-shopping-cart"></i></li>
                                                            <li><a href="" title="Xem trước" class="quick-view-btn"
                                                                   data-toggle="modal" data-target="#productModal"
                                                                   onclick="showProductDetail({{ product.id }})"><i
                                                                    class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single-product-wrap end -->
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>
                                    Không có sản phẩm mới nào.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="li-featured-product" class="tab-pane" role="tabpanel">
                        <div class="row">
                            {% if feature_products %}
                                <div class="product-active owl-carousel">
                                    {% for product in feature_products %}
                                        <div class="single-product col-lg-12">
                                            <!-- single-product-wrap start -->
                                            <div class="single-product-wrap">
                                                <div class="product-image">
                                                    <a href="{% url 'single-product' slug=product.slug %}">
                                                        <img src="{{ product.images.first.imageURL }}"
                                                             alt="Feature Product">
                                                    </a>
                                                    {% if product.created_at >= time %}
                                                        <span class="sticker">Mới</span>
                                                    {% endif %}
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h5 class="manufacturer">
                                                                <a href="{% url 'products-by-brand' slug=product.brand.slug %}">{{ product.brand }}</a>
                                                            </h5>
                                                        </div>
                                                        <h4><a class="product_name"
                                                               href="{% url 'single-product' slug=product.slug %}">{{ product.name }}</a>
                                                        </h4>
                                                        <div class="price-box">
                                                            <span class="new-price">{{ product.price|floatformat:2|intcomma }} đ</span>
                                                        </div>
                                                    </div>
                                                    <div class="add-actions">
                                                        <ul class="add-actions-link">
                                                            <li class="add-cart active" onclick="addToCart({{ product.id }})">
                                                                <span>Thêm vào giỏ </span><i
                                                                    class="fa fa-shopping-cart"></i>
                                                            </li>
                                                            <li><a href="" title="Xem trước" class="quick-view-btn"
                                                                   data-toggle="modal" data-target="#productModal"
                                                                   onclick="showProductDetail({{ product.id }})"><i
                                                                    class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single-product-wrap end -->
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>
                                    Không có sản phẩm đặc trưng nào.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if products_categories %}
            {% for category, products in products_categories.items %}
                <section class="product-area li-product-per-category pt-60 pb-45">
                    <div class="container">
                        <div class="row">
                            <!-- Begin Li's Section Area -->
                            <div class="col-lg-12">
                                <div class="li-section-title">
                                    <h2>
                                        <span>{{ category.name }}</span>
                                    </h2>
                                    <ul class="li-sub-category-list">
                                        <li class="active"><a href="{% url 'products-by-category' slug=category.slug %}">Xem tất cả</a></li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="product-active owl-carousel">
                                        {% for product in products %}
                                            <div class="single-product col-lg-12">
                                                <!-- single-product-wrap start -->
                                                <div class="single-product-wrap">
                                                    <div class="product-image">
                                                        <a href="{% url 'single-product' slug=product.slug %}">
                                                            <img src="{{ product.images.first.imageURL }}"
                                                                 alt="Product Image">
                                                        </a>
                                                        {% if product.created_at >= time %}
                                                            <span class="sticker">Mới</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="product_desc">
                                                        <div class="product_desc_info">
                                                            <div class="product-review">
                                                                <h5 class="manufacturer">
                                                                    <a href="{% url 'products-by-brand' slug=product.brand.slug %}">{{ product.brand }}</a>
                                                                </h5>
                                                            </div>
                                                            <h4><a class="product_name"
                                                                   href="{% url 'single-product' slug=product.slug %}">{{ product.name }}</a>
                                                            </h4>
                                                            <div class="price-box">
                                                                <span class="new-price">{{ product.price|floatformat:2|intcomma }} đ</span>
                                                            </div>
                                                        </div>
                                                        <div class="add-actions">
                                                            <ul class="add-actions-link">
                                                                <li class="add-cart active" onclick="addToCart({{ product.id }})">
                                                                    <span>Thêm vào giỏ </span><i
                                                                        class="fa fa-shopping-cart"></i>
                                                                </li>
                                                                <li><a href="" title="Xem trước" class="quick-view-btn"
                                                                       data-toggle="modal" data-target="#productModal"
                                                                       onclick=showProductDetail({{ product.id }})><i
                                                                        class="fa fa-eye"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product-wrap end -->
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Section Area End Here -->
                        </div>
                    </div>
                </section>
            {% endfor %}
        {% endif %}
        <!-- Begin Quick View | Modal Area -->
        <div class="modal fade modal-wrapper" id="productModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="hidden" id="productPreviewId"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area row">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <!-- Product Details Left -->
                                <div class="product-details-left">
                                    <div class="product-details-images slider-navigation-1">
                                        <img class="lg-image" id="previewProductImage"/>
                                    </div>
                                </div>
                                <!--// Product Details Left -->
                            </div>

                            <div class="col-lg-7 col-md-6 col-sm-6">
                                <div class="product-details-view-content pt-60">
                                    <div class="product-info">
                                        <h2 id="productPreviewName"></h2>
                                        Thương hiệu: <a id="productBrandLink" href="#"><span class="product-details-ref"
                                                                                             id="productPreviewBrand"></span></a>
                                        <div class="rating-box pt-20">
                                            <ul class="rating rating-with-review-item">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="review-item"><a href="#">Xem bình luận</a></li>
                                                <li class="review-item"><a href="#">Viết đánh giá</a></li>
                                            </ul>
                                        </div>
                                        <div class="price-box pt-20">
                                            <span class="new-price new-price-2" id="productPreviewPrice"></span>
                                        </div>
                                        <div class="product-desc">
                                            <p>
                                                <span id="productPreviewDescription">
                                                </span>
                                            </p>
                                        </div>
                                        <div class="single-add-to-cart">
                                            <form class="cart-quantity">
                                                <div class="quantity">
                                                    <label></label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" id="productPreviewQuantity" value="1" type="text">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i>
                                                        </div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </div>
                                                <button class="add-to-cart" id="productPreviewAddToCart" type="submit">
                                                    <span>Thêm vào giỏ </span><i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="product-additional-info pt-25">
                                            <div class="product-social-sharing pt-25">
                                                <ul>
                                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                                    </li>
                                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                                                    </li>
                                                    <li class="google-plus"><a href="#"><i
                                                            class="fa fa-google-plus"></i>Google +</a></li>
                                                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View | Modal Area End Here -->
    </div>
    <!-- Body Wrapper End Here -->
    <!-- jQuery-V1.12.4 -->
{% endblock %}